<h1>Edit Food</h1>
<nav class="navbar bg- rgba(73, 73, 73, 0.993)">
  <form action="/user/{{User._id}}/update" method="post" class="container-colum">
    <div class="d-flex m-3">
      <input
        value={{Food.name}}
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        name="name"
      />
    </div>
    <div class="d-flex m-3">
      <input
        value={{Food.description}}
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Password"
        aria-label="Password"
        aria-describedby="basic-addon1"
        name="description"
      />
    </div>
    <div class="d-flex m-3">
      <input
        value={{Food.idCategory}}
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Phone"
        aria-label="Phone"
        aria-describedby="basic-addon1"
        name="idCategory"
      />
    </div>
       <div class="d-flex m-3">
      <input
        value={{Food.img}}
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Card"
        aria-label="Card"
        aria-describedby="basic-addon1"
        name="img"
      />
    </div>
       <div class="d-flex m-3">
      <input
        value={{Food.cost}}
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Address"
        aria-label="Address"
        aria-describedby="basic-addon1"
        name="cost"
      />
    </div>
     <div class="d-flex m-3">
      <input
        value={{Food.inventory}}
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Address"
        aria-label="Address"
        aria-describedby="basic-addon1"
        name="inventory"
      />
    </div>
    <div style="margin: 10;" class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Edit</button>
    </div>
  </form>
</nav>